Natsunagi/config.py
Natsunagi/*.session
Natsunagi/*.session-journal
Natsunagi/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Natsunagi/modules/helper_funcs/temp.txt
Natsunagi/elevated_users.json
start-3.9.bat
*.session
kangsticker.png
venv
env
Natsunagi.session-journal
updates.txt
*.exe
