alphabet-detector
bleach
cachetools
CurrencyConverter
emoji
feedparser
pyrate-limiter
lxml
nltk
pillow
pretty-errors
psutil
pynewtonmath
python-telegram-bot==13.8.1
regex
requests
spamwatch
speedtest-cli
spongemock
SQLAlchemy==1.4.26
telethon==1.23.0
ujson
wikipedia
zalgo-text
fontTools
nekos.py
telegraph
tgcrypto
youtube_search
pytube
pymongo
motor
dnspython
redis
gtts
cloudscraper
wget
tswift
lyricsgenius
envparse
cryptg
aioredis
odmantic
pykeyboard
aiofiles
hachoir
bing_image_downloader
pytz
html2text
NumPy
opencv-python-headless
uvloop
python-dotenv
gpytranslate
glitch_this
countryinfo
faker
PyDictionary
ffmpeg
python-rapidjson
git+https://github.com/starry69/python-markdown2.git
cowpy
selenium
hiredis
pendulum
img2pdf
google-api-python-client
secureme
git+https://github.com/Awesome-RJ/GoGoAnimeAPI.git
better_profanity
pydub
nudepy
textblob
requests_html
bs4
multicolorcaptcha
launchpadlib
google-trans-new
jikanpy
futures
future
psycopg2-binary
geopy
humanize
heroku3
beautifulsoup4
git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp@master
python-arq
aiohttp
carbonnow
search_engine_parser
googletrans
youtube_search_python
httpx
hurry.filesize
ujson
gpytranslate
fuzzysearch
pybase64
pySmartDL
validators
flag
coffeehouse
aiogram
quotefancy
httpx[http2]
dateparser
sylviorus 
asyncio
aiogram
aioredis
gTTS
