alphabet-detector
bleach
cachetools
CurrencyConverter
cairosvg
cloudscraper
colour
covid
dataclasses
DateTime
fake_useragent
emoji
feedparser
pyrate-limiter
lxml
lottie
pillow
pretty-errors
psutil
pynewtonmath
python-telegram-bot==13.9.0
regex
requests
spamwatch
speedtest-cli
SQLAlchemy==1.4.29
telethon==1.24.0
ujson
wikipedia
fontTools
telegraph
youtube_search
pytube
pymongo
motor
dnspython
redis
gtts
cloudscraper
wget
lyricsgenius
envparse
cryptg
aioredis
odmantic
pykeyboard
aiofiles
hachoir
bing_image_downloader
pytz
html2text
NumPy
opencv-python-headless
uvloop
python-dotenv
gpytranslate
glitch_this
countryinfo
faker
PyDictionary
pyfiglet
PyGithub
pygments
pylast
pymediainfo
PyMuPDF
pySmartDL
python-barcode
ffmpeg
python-rapidjson
markdown2
cowpy
selenium
hiredis
pendulum
img2pdf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
secureme
better_profanity
pydub
nudepy
textblob
requests_html
bs4
multicolorcaptcha
launchpadlib
google-trans-new
jikanpy
futures
future
psycopg2-binary
psycopg2
humanize
heroku3
beautifulsoup4
pyrogram
python-arq
aiohttp
carbonnow
search_engine_parser
googletrans
youtube_search_python
httpx
asyncio
quotefancy
aiogram 
hurry.filesize
pybase64
pySmartDL
validators
flag
fuzzysearch
PyYAML>5.0
configparser
gitpython
html-telegraph-poster
IMDbPY
justwatch
moviepy
prettytable
pytz
qrcode
randomstuff.py
setuptools
ShazamAPI
sqlalchemy-json
urlextract
vcsi
wand
git+https://github.com/Sorrybabe/downloader
git+https://github.com/python-telegram-bot/ptbcontrib.git
tswift
geopy
