alphabet-detector
bleach
cachetools
CurrencyConverter
emoji
feedparser
pyrate-limiter
lxml
nltk
pillow
pretty-errors
psutil
pynewtonmath
python-telegram-bot==13.8.1
regex
requests
spamwatch
speedtest-cli
spongemock
SQLAlchemy==1.4.27
telethon
ujson
wikipedia
zalgo-text
fontTools
nekos.py
telegraph
tgcrypto
youtube_search
pytube
pymongo
motor
dnspython
redis
gtts
cloudscraper
wget
tswift
lyricsgenius
envparse
cryptg
aioredis
odmantic
pykeyboard
aiofiles
hachoir
bing_image_downloader
pytz
html2text
NumPy
opencv-python-headless
uvloop
python-dotenv
gpytranslate
glitch_this
countryinfo
faker
PyDictionary
ffmpeg
python-rapidjson
markdown2
cowpy
selenium
hiredis
pendulum
img2pdf
google-api-python-client
secureme
better_profanity
pydub
nudepy
textblob
requests_html
bs4
multicolorcaptcha
launchpadlib
google-trans-new
jikanpy
futures
future
psycopg2-binary
geopy
humanize
heroku3
beautifulsoup4
pyrogram
python-arq
aiohttp
carbonnow
search_engine_parser
googletrans
youtube_search_python
httpx
asyncio
quotefancy
aiogram 
hurry.filesize
pybase64
pySmartDL
validators
flag
fuzzysearch
PyYAML>5.0
configparser
